@use "../global" as *;
// CTAの実装
.cta{
  text-align:center;
  align-items: center;
  border:rem(3) solid #03bf98;
  display:flex;
  margin: 0 auto;
  min-width:rem(250);
  position: relative;
  @include mq('md') {
    max-width:rem(440);
    min-width:initial;
    border:rem(7) solid #03bf98;
  }
}
.cta:hover{
  transition: .2s ease-in-out;
  border:rem(3) solid $white;
  @include mq('md') {
    border:rem(7) solid $white;
  }
}
.cta span{
  width:100%;
  display:inline-block;
  text-align:center;
  font-family:$base-font;
  font-size:rem(16);
  font-weight:$bold;
  line-height:calc(23.17/ 39);
  color:$white;
  text-decoration: none;
  background-color: #03bf98;
  padding-top:rem(10);
  padding-bottom:rem(10);
  border:rem(1) solid $white;
  text-align: center;
  align-items: center;
  @include mq('md') {
    font-size:rem(34);
    line-height:calc(56.47 / 39);
    padding-top:rem(3);
    padding-bottom:rem(7);
    border:rem(2) solid $white;
  }
}
.cta span:hover{
  color: #03bf98;
  background-color: $white;
  border:rem(1) solid  #03bf98;
  @include mq('md') {
    border:rem(2) solid  #03bf98;
  }
}

.cta::before {
  content: '';
  width:rem(10);
  height:rem(10);
  border: 0;
  border-top: rem(2) solid  $white;
  border-right: rem(2)solid $white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: rem(26);
  margin: auto;
  @include mq('md') {
    width:rem(20);
    height:rem(20);
    border-top: rem(4) solid  $white;
    border-right: rem(4)solid $white;
  }
}
.cta:hover::before {
  border-top: rem(2) solid  #03bf98;
  border-right: rem(2)solid  #03bf98;
  @include mq('md') {
    border-top: rem(4) solid  #03bf98;
    border-right:rem(4)solid  #03bf98;
  }
}
