@use "../global" as *;
.header-nav{
  width:100%;
  height:100vh;
  overflow-y: scroll;
  background-image: url(../img/header/nav-menu.png);
  background-size: cover;
  @include mq("md") {
    width:100%;
    height:inherit;
    overflow-y: initial;
    background-image:initial;
    background-size:initial;
  }
}
.header-nav__logo-top{
  display:flex;
  align-items:flex-end;
  justify-content: center;
  @include mq("md") {
    display:none;
  }
}
.header-nav__logo-top a{
  margin-top:rem(18);
  width:rem(155);
  @include mq("md") {
   display:none;
   }
 }
.header-nav__items{
  margin-top:rem(15);
  height:inherit;
  display:flex;
  flex-direction:column;
  text-align: center;
  max-width:rem(375);
  margin-left:auto;
  margin-right:auto;
  @include mq("md") {
    width:100%;
    padding-top:rem(16);
    min-height:initial;
    display:flex;
    flex-direction: row;
    float:left;
    justify-content: space-between;
    margin:initial;
    margin-top:rem(0);
    padding-left:rem(210);
    // margin-left:26%;
    // max-width:rem(1200);
    max-width:initial;
    align-items:initial;
  }
}
.header-nav__items-list{
  @include mq("md") {
    float: left;
    text-align:center;
  } 
}
.header-nav__items-list:nth-of-type(1){
  @include mq("md") {
    // padding-right:rem(10);
  }
}
.header-nav__items-list:nth-of-type(2){
  margin-top:rem(30);
  @include mq("md") {
    margin-top:initial;
    // margin-left:rem(10);
    // padding-right:rem(15);
  }
}
.header-nav__items-list:nth-of-type(3){
   margin-top:rem(32);
  @include mq("md") {
    margin-top:initial;
    // margin-left:rem(10);
    // padding-right:rem(30);
  }
}
.header-nav__items-list:nth-of-type(4){
   margin-top:rem(32);
  @include mq("md") {
    margin-top:initial;
    // margin-right:rem(28);
  }
}
.header-nav__items-list:nth-of-type(5){
   margin-top:rem(30);
  @include mq("md") {
    margin-top:initial;
    // margin-right:rem(30);
  }
}
.header-nav__items-list:nth-of-type(6){
  margin-top:rem(28);
  @include mq("md") {
    margin-top:initial;
    // margin-right:rem(40);
  }
}
.header-nav__items-list:nth-of-type(7){
   margin-top:rem(28);
  @include mq("md") {
    margin-top:initial;
    // margin-right:rem(40);
  }
}
.header-nav__items-list:nth-of-type(8){
  margin-top:rem(30);
  @include mq("md") {
    margin-top:initial;
    margin-right:rem(70);
  }
}
.header-nav__items-list a{
  position:relative;
  display:inline-block;
  font-family:$menu-font;
  font-weight:$bold;
  font-size:rem(26);
  line-height:calc(29.9 / 26);
  color:#0a1354;
  display:block;
  margin-top:rem(16);
  @include mq("md") {
    display:flex;
    font-weight:$regular;
    font-size:rem(16);
    line-height:calc(20 / 16);
    white-space: nowrap;
  }
}

.header-nav__items-list a:hover{
  @include mq("md") {
    cursor: pointer;
  } 
}
.header-nav__logo-bottom{
  width: 74vw;
  padding: rem(28);
  margin: 0 auto;
  @include mq("md") {
    display:none;
  }
}
.header-nav__logo-bottom a{
  width:rem(280);
  @include mq("md") {
   display:none;
   }
 }


