@use "../global" as *;
.mv__wrapper-content{
  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  @include mq("md") {
    position: absolute;
    margin:initial;
    top:0;
    left:50%;
    transform: translateX(-50%);
    max-width: rem(1200);
  }
}
.mv__wrapper-content__theme{
  position:absolute;
  margin-top:rem(80);
  left:50%;
  transform: translatex(-50%);
  font-family:$base-font;
  font-size:rem(32);
  font-weight:$bold;
  line-height: 1.2;
  letter-spacing: .06em;
  color:$main-accentstrong;
  white-space: nowrap;
  @include mq("md") {
    position: initial;
    font-size:rem(48);
    letter-spacing: rem(5);
    line-height: calc(80 / 50);
    transform: initial;
    left:initial;
    margin-top:rem(110);
    margin-left:rem(10);
    text-align: left;
  }
}
.mv__wrapper-content__theme span:nth-of-type(1){
  color:$mono-color;
  font-size:rem(28);
  line-height:calc(28.96 / 20);
  @include mq("md") {
    font-size:rem(40);
  }
}
.mv__wrapper-content__theme span:nth-of-type(2){
  color:#228ccd;
}
.mv__wrapper-content__theme span:nth-of-type(3){
  color:$mono-color;
  font-size:rem(20);
  line-height:calc(28.96 / 20);
  @include mq("md") {
    font-size:rem(36);
  }
}
.mv__wrapper-content__logo{
  position:absolute;
  margin-top:rem(160);
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  width:rem(340);
  @include mq("md") {
    position: initial;
    left:initial;
    margin-top:rem(-190);
    margin-left:rem(510);
    transform: initial;
    width:rem(830);
  }
}  
.mv__wrapper-content__text{
  position:absolute;
  margin-top:rem(370);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  @include mq("md") {
    position: initial;
    margin-top:rem(-290);
    left:initial;
    margin-left:rem(-670);
    transform: initial;
  }
}
.mv__wrapper-content__text-slash{
  position: relative;
  content: "";
  width:rem(40);
  height:rem(1);
  background-color:$mono-color;
  @include mq("md") {
    width:rem(37.3);
  }
}
.mv__wrapper-content__text-slash:nth-of-type(1){
  transform:rotate(66deg);
  position:absolute;
  margin-top:rem(20);
  left:-18%;
  @include mq("md") {
    margin-top:rem(10);
    left:rem(-10);
  }
}
.mv__wrapper-content__text-slash:nth-of-type(2){
  transform: rotate(-66deg);
  position:absolute;
  margin-top:rem(-25);
  right:-18%;
  @include mq("md") {
    margin-top:rem(-10);
    right:rem(665);
  }
}
.mv__wrapper-content__text p{
  font-family:$en-font;
  font-size:rem(14);
  line-height:calc(22 / 14);
  color:$mono-color;
  font-weight:$bold;
  text-align: center;
  @include mq("md") {
    font-size:rem(15);
    line-height:calc(24 / 18);
    letter-spacing: rem(3.5);
  }
}
.mv__wrapper-content__strong{
  position:absolute;
  margin-top:rem(420);
  left: 50%;
  transform: translateX(-50%);
  width:rem(370);
  @include mq("md") {
    position: initial;
    left:initial;
    margin-top:rem(-45);
    margin-left:rem(-40);
    transform: initial;
    width:rem(604);
  }
}
.mv__wrapper-content__cta{
  // position:absolute;
  margin-top:rem(583);
  // left:50%;
  // transform: translatex(-50%);
  white-space: nowrap;
  width:100%;
  @include mq("md") {
    position: absolute;
    margin-top:-1%;
    left:3%;
    transform: initial;
  }
}