@use "../global" as *;
.point-card{
  @include mq("md") {
    margin-top: rem(-20);
  }
}
.point-card li{
  margin-top:rem(10);
  @include mq("md") {
    position:relative;
  }
}
// 1枚目
.point-card li:nth-of-type(1) .point-card__num-text{
  @include mq("md") {
    margin-left:rem(-20);
  }
}  
.point-card li:nth-of-type(1) .point-card__num-point{
  margin-top:rem(-50);
  margin-left:rem(-5);
  @include mq("md") {
    margin-top:rem(-50);
    margin-left:rem(10);
  }
}
.point-card li:nth-of-type(1) .point-card__content-theme{
  margin-top:rem(5);
  padding-left:rem(10);
  padding-right:rem(10);
  min-width:rem(320);
  @include mq("md") {
   margin-top:rem(40);
   padding-left:rem(80);
   padding-right:rem(80);
   padding-top:rem(10);
   padding-bottom:rem(8);
   white-space: nowrap;
   min-width:initial;
  }
}

.point-card li:nth-of-type(1) .point-card__content-square{
  margin-top:rem(15);
  @include mq("md") {
    margin-top:rem(80);
    margin-left:calc(50% - 50vw);
  }
}
.point-card li:nth-of-type(1) .point-item{
  @include mq("md") {
    position:relative;
    margin-left:0;
    margin-top:rem(-95);
  }
}
.point-card li:nth-of-type(1) .point-item__img{
  @include mq("md") {
    position:absolute;
    z-index:20;
  }
}
.point-card li:nth-of-type(1) .point-item__text{
  @include mq("md") {
    position:absolute;
    margin-top:rem(-160);
    right:0;
    z-index:10;
  }
}
.point-card li:nth-of-type(1) .point-item__text p:nth-of-type(2){
  margin-top:rem(22);
  padding-bottom:rem(15);
  @include mq("md") {
    margin-top:rem(32);
  }
}
.point-card li:nth-of-type(1) .point-item__text p:nth-of-type(3){
  margin-top:rem(12);
  @include mq("md") {
    margin-top:rem(15);
  }
}
// 2枚目
.point-card li:nth-of-type(2){
  margin-top:rem(5);
  @include mq("md") {
    position: relative;
    margin-top:rem(310);
  }
}
.point-card li:nth-of-type(2) .point-card__num{
  @include mq("md") {
    position:absolute;
    right:0%;
  }
}
.point-card li:nth-of-type(2) .point-card__num-point{
  margin-top:rem(-50);
  margin-left:rem(-5);
  @include mq("md") {
    margin-top:rem(-52);
    margin-left:rem(35);
  }
}
.point-card li:nth-of-type(2) .point-card__content-theme{
  margin-top:rem(10);
  padding-left:rem(40);
  padding-right:rem(40);
  min-width:rem(320);
  @include mq("md") {
    margin-top:rem(85);
    padding-left:rem(170);
    padding-right:rem(170);
    padding-top:rem(5);
    padding-bottom:rem(8);
    letter-spacing: rem(3);
    // max-width:rem(1200);
    margin-right:0;
    min-width: initial;
   }
}
.point-card li:nth-of-type(2) .point-card__content-square{
  margin-top:rem(20);
  margin-left:auto;
  @include mq("md") {
    margin-top:rem(75);
    margin-right:calc(50% - 50vw);
  }
}
.point-card li:nth-of-type(2) .point-item{
  margin-top:rem(-68);
  @include mq("md") {
    flex-direction: row-reverse;
    position:relative;
    margin-top:rem(-95);
  }
}
.point-card li:nth-of-type(2) .point-item__img{
  @include mq("md") {
    position:absolute;
    margin-right:0;
    z-index:20;
  }
}
.point-card li:nth-of-type(2) .point-item__text{
  padding-bottom:rem(38);
  @include mq("md") {
    // position:absolute;
    padding-top:rem(30);
    padding-left:rem(70);
    padding-right:rem(60);
    padding-bottom:rem(70);
    box-shadow: rem(-12) rem(12) rem(4) rgba(0, 0, 0, 0.25);
    z-index:10;
    margin-top:rem(-155);
    margin-right:auto;
  }
}
.point-card li:nth-of-type(2) .point-item__text p:nth-of-type(2){
  margin-top:rem(22);
  margin-bottom:rem(22);
  @include mq("md") {
    margin-top:rem(55);
    margin-bottom:rem(50);
  }
}

// 3枚目
.point-card li:nth-of-type(3){
  margin-top:rem(25);
  @include mq("md") {
    margin-top:rem(95);
    position: relative;
  }
}
.point-card li:nth-of-type(3) .point-card__num{
  @include mq("md") {
    position: absolute;
    margin-left:rem(-5);
  }
}
.point-card li:nth-of-type(3) .point-card__num-point{
  margin-top:rem(-50);
  margin-left:rem(-5);
  @include mq("md") {
    margin-top:rem(-50);
    margin-left:rem(45);
  }
}
.point-card li:nth-of-type(3) .point-card__content-theme{
  margin-top:rem(8);
  margin-left:rem(20);
  margin-right:rem(20);
  font-size:rem(17);
  line-height:calc(26.06 / 17);
  padding-bottom:rem(10);
  min-width:rem(320);
  @include mq("md") {
    font-size:rem(34);
    line-height:calc(56.24 / 32);
    margin-top:rem(82);
    padding-top:rem(7);
    padding-left:rem(10);
    padding-right:rem(10);
    padding-bottom:rem(7);
    margin-left:0;
    min-width: initial;
    white-space: nowrap;
   }
}
.point-card li:nth-of-type(3) .point-card__content-square{
  margin-top:rem(18);
  @include mq("md") {
    margin-top:rem(90);
    margin-left:calc(50% - 50vw);
  }
}
.point-card li:nth-of-type(3) .point-item{
  margin-top:rem(-65);
  @include mq("md") {
    position:relative;
    margin-top:rem(-90);
  }
}
.point-card li:nth-of-type(3) .point-item__img{
  @include mq("md") {
    position:absolute;
    margin-left:0;
    z-index:20;
  }
}
.point-card li:nth-of-type(3) .point-item__text{
  padding-bottom:rem(35);
  @include mq("md") {
    // position: absolute;
    margin-top:rem(-170);
    padding-top:rem(30);
    padding-left:rem(90);
    padding-right:rem(20);
    padding-bottom:rem(40);
    margin-left:auto;
    // z-inddex:10;
  }
}
.point-card li:nth-of-type(3) .point-item__text p:nth-of-type(2){
  margin-top:rem(22);
  padding-bottom:rem(15);
  @include mq("md") {
    margin-top:rem(50);
    margin-bottom:rem(40);
  }
}




// 共通内容
.point-card__num{
  padding-left:rem(50);
  @include mq("md") {
    padding-left:initial;
    margin-left:rem(12);
  }
}
.point-card__num-text{
  font-family:$num-font;
  color:$main-accentstrong;
  font-size:rem(40);
  font-weight:$bold;
  line-height:calc(48 / 40);
  @include mq("md") {
    font-size:rem(138);
    font-weight:$bold;
    line-height:calc(48 / 138);
  }
}
.point-card__num-point{
  font-family:$en-font;
  font-size:3.73vw;
  font-weight:$medium;
  line-height:calc(48 / 14);
  text-transform: uppercase;
  @include mq("md") {
    font-size:1.81vw;
    line-height:calc(48 / 26);
    font-weight:$bold;
  }
}
.point-card__content{
  text-align:center;
}
.point-card__content-theme{
  display: inline-block;
  background-color: $main-accentstrong;
  font-family:$base-font;
  font-size:rem(20);
  font-weight:$bold;
  color:$white;
  line-height:calc(28.96 / 20);
  @include mq("md") {
    font-size:rem(38);
    line-height:calc(56.24 / 38);
    margin-left:0;
    max-width:rem(1200);
  }
}
.point-card__content-theme p{
  text-align: center;
}
.point-card__content-square{
  width:rem(69);
  height:rem(80);
  @include mq("md") {
    width:rem(210);
    height:rem(210);
  }
}