@use "../global" as *;
.recruit-case{
  margin:0 auto;
  margin-top:rem(55);
  @include mq("md") {
    margin-top:rem(70);
  }
}
.recruit-case p{
  margin-top:rem(2);
  font-family:$base-font;
  font-size:rem(14);
  line-height:calc(18 / 14);
  text-align: center;
  @include mq("md") {
    font-size:rem(20);
    line-height:calc(30 / 20);
  }
}
.recruit-case__items{
  margin:0 auto;
  width:89.07vw;
  position: relative;
  @include mq("md") {
    width:100%;
  }
}
.recruit-case__items-caution2{
  position:absolute;
  margin-top:-6%;
  margin-left:0;
  @include mq("md") {
    margin-top:-1%;
    // transform: translateY(-33%);
    margin-left:1%;
  }
}
.recruit-case__items-image{
  text-align: center;
  margin-top:rem(35);
  @include mq("md") {
    width:100%;
  }
}
.recruit-case__items-caution3{
  position:absolute;
  margin-top:-80%;
  right:0;
  @include mq("md") {
    margin-top:-29%;
    right:1%;
  }
}