@use "../global" as *;

.scrollanime 
{
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);

    opacity: 0;
}

.scrollanime.fadeInDown
{
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    -webkit-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
