@use "../global" as *;
.title{
  text-align: center;
  align-items: center;
}
.title h2{
  font-family: $title-font;
  font-size:rem(72);
  line-height:calc(138 / 72);
  color:rgba(186,186,186,0.35);
  @include mq(md){
    font-size:rem(150);
    line-height:calc(138 / 150);
    letter-spacing: rem(5);
  } 
}
.title h3{
  font-family: $base-font;
  font-size:rem(20);
  font-weight:$medium;
  line-height:calc(28.96 / 20);
  color:$mono-color;
  @include mq(md){
    font-size:rem(55);
    line-height:calc(69.5 / 50);
  }
}