/* A Modern CSS Reset */
* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

ul, ol {
    list-style: none;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

img {
    display: block;
    width: 100%;
}

input, button, select, textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

textarea {
    resize: none;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=submit], input[type=button], label, button, select {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

body {
    color: #000000;
}

@media (max-width: 375px) {
    html {
        font-size: 4.2666666667vw;
    }
}
@media (max-width: 787px) {
    html {
        font-size: 4.2666666667vw;
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: 1.3194444444vw;
    }
}
@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    a {
        transition: .2s ease-in-out;
    }
}

main {
    overflow: hidden;
}

header {
    background-color: #ffffff;
    height: 3.125rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
@media screen and (min-width: 768px) {
    header {
        height: 5rem;
        z-index: 60;
    }
}

.header-wrapper {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
}

.header-wrapper__logo {
    margin-left: .4375rem;
    margin-top: -.3125rem;
    -o-object-fit: cover;
       object-fit: cover;
    width: 11.5625rem;
}
@media screen and (min-width: 768px) {
    .header-wrapper__logo {
        margin-left: 1.5625rem;
        margin-top: -.125rem;
        width: 35.625rem;
    }
}

.header-wrapper__logo img {
    height: 100%;
    width: 100%;
}

.header__hamburger {
    position: relative;
    z-index: 30;
}
@media screen and (min-width: 768px) {
    .header__hamburger {
        display: none;
    }
}

.header__right {
    display: none;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .header__right {
        display: block !important;
        position: static;
    }
}

.header__tel {
    display: none;
}
@media screen and (min-width: 768px) {
    .header__tel {
        display: block;
        margin-right: 2.5rem;
        margin-top: 0rem;
        z-index: 30;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-number {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-number-image {
        width: .9375rem;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-number-image img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-number-text {
        font-family: "Inter", sans-serif;
        font-size: 1.25rem;
        line-height: 1.21;
        margin-left: .625rem;
        margin-top: .3125rem;
        white-space: nowrap;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-available {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-available p {
        font-family: "Noto Sans JP", sans-serif;
        font-size: .75rem;
        line-height: 1.4483333333;
    }
}

@media screen and (min-width: 768px) {
    .header__tel-available p:nth-of-type(2) {
        margin-left: .75rem;
    }
}

footer {
    background-color: #fff1d9;
    margin-top: .3125rem;
    padding-bottom: 1.5625rem;
    padding-top: 3.4375rem;
}
@media screen and (min-width: 768px) {
    footer {
        padding-bottom: 5.625rem;
        padding-top: 3.25rem;
    }
}

.footer__wrapper {
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .footer__wrapper {
        max-width: 75rem;
    }
}

.footer-wrapper__text {
    margin: 0 auto;
    max-width: 19.375rem;
}
@media screen and (min-width: 768px) {
    .footer-wrapper__text {
        margin: 0 auto;
        max-width: 32.5rem;
    }
}

.footer-wrapper__text p {
    font-family: "Noto Sans", sans-serif;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.4285714286;
    margin-bottom: 1.5rem;
}

.footer-wrapper__textpc {
    margin: 0 auto;
    width: -moz-fit-content;
    width:      fit-content;
}

@media screen and (min-width: 768px) {
    .footer-wrapper__textpc p {
        font-family: "Noto Sans", sans-serif;
        font-size: .8125rem;
        font-weight: 700;
        line-height: 1.9230769231;
        margin: 0 auto;
        white-space: nowrap;
        width: -moz-fit-content;
        width:      fit-content;
    }
}

.footer-wrapper__logo {
    margin: 0 auto;
    width: 65vw;
}
@media screen and (min-width: 768px) {
    .footer-wrapper__logo {
        margin-top: 2.8125rem;
        width: 26vw;
    }
}

.footer-wrapper__logo img {
    width: 100%;
}

.footer-wrapper__bottom {
    font-family: "Noto Sans", sans-serif;
    font-size: .625rem;
    font-weight: 700;
    letter-spacing: .09em;
    line-height: 4.8;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .footer-wrapper__bottom {
        font-size: .75rem;
        letter-spacing: .13em;
        line-height: 4;
    }
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .inner {
        max-width: initial;
        padding-left: initial;
        padding-right: initial;
    }
}

.test {
    background-color: plum;
    color: red;
    font-size: 1rem;
    margin-top: 6.25rem;
}
@media screen and (min-width: 768px) {
    .test {
        color: green;
        font-size: 3.125rem;
    }
}

.u-desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .u-desktop {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .u-mobile {
        display: none;
    }
}